intel/src/conf/xml-resources/web-service-references/FileUploadService/wsdl/128.2.144.153_8080/FileUploadService/FileUploadService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="getDetail" type="tns:getDetail"/>

<xs:element name="getDetailResponse" type="tns:getDetailResponse"/>

<xs:element name="getSummary" type="tns:getSummary"/>

<xs:element name="getSummaryResponse" type="tns:getSummaryResponse"/>

<xs:complexType name="getSummary">
<xs:sequence>
<xs:element name="customerID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSummaryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDetail">
<xs:sequence>
<xs:element name="customerID" type="xs:string" minOccurs="0"/>
<xs:element name="file" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDetailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>